uvicorn==0.11.3
fastapi==0.63.0
SQLAlchemy-Utils==0.40.0
SQLAlchemy==2.0.0
pydantic==1.8.2
cryptography==37.0.4
alembic==1.4.2
fastapi_camelcase==1.0.2
starlette-context==0.3.2
requests==2.23.0
typer==0.3.2
typer-cli==0.0.12
opentelemetry-exporter-jaeger==1.7.1
opentelemetry-instrumentation-fastapi==0.26b1
opentelemetry-instrumentation-requests==0.26b1
opentelemetry-instrumentation-sqlalchemy==0.26b1
opentelemetry-sdk==1.7.1
opentelemetry-api==1.7.1
celery==4.4.7
kombu==4.6.11
redis==3.5.3
python-dotenv==0.10.3
fastapi-mail==1.0.9
openpyxl==3.0.10
requests_toolbelt==0.9.1
gevent==21.12.0
wheel==0.37.1
pytest==7.1.2
starlette==0.13.6
testcontainers==3.6.0
coverage==6.4.2
JSON-log-formatter==0.2.0
Flask-Log-Request-ID==0.10.0
pandas==1.5.3
numpy==1.24.2
statsmodels==0.13.5
mypy==1.1.1
boto3==1.26.106
psycopg2-binary==2.9.6
psycopg2==2.9.6